@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Webshop</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse Products</h2>


        @Html.ActionLink("Browse Products", "Index", "Products", new { }, new { @class = "btn btn-default" })

    </div>

</div>